{% extends 'RimJobeetBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/rimjobeet/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
    <div id="jobs">
        {% for category in categories %}
            <div>
                <div class="category">
                    <div class="feed">
                        <a href="">Feed</a>
                    </div>
                    <h1><a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.name }}</a></h1>
                </div>
                <div id="table_{{ category.slug }}">
                    {{ include ('RimJobeetBundle:Job:list.html.twig', {'jobs': category.activejobs}) }}
                </div>

                {% if category.morejobs %}
                    <div class="more_jobs">
                        <div id="{{ category.slug }}">
                            and <a href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.morejobs }}</a>
                            more...
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}